/* Resetear el estilo predeterminado del navegador */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo para el header (barra de navegación) */
#header {
    background-color: #0f3300; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto en el centro */
    display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

/* Estilo para el logo */
#logo {
    width: 65px; /* Ancho del logo */
    height: 65px; /* Altura del logo */
    background-image: url('/imajens/gamba-removebg-preview.png'); /* URL del logo */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
}

/* Estilo para la navegación */
#nav {
    display: inline-block; /* Hace que el elemento sea en línea y respete los márgenes y el padding */
}

/* Estilo para la lista no ordenada dentro de la navegación */
#nav ul {
    list-style: none; /* Quita los marcadores de lista */
}

/* Estilo para cada elemento de la lista */
#nav ul li {
    display: inline; /* Muestra los elementos en línea */
    margin-right: 10px; /* Espaciado a la derecha entre elementos */
}

/* Estilo para los enlaces dentro de la lista */
#nav ul li a {
    text-decoration: none; /* Quita la decoración del enlace (subrayado predeterminado) */
    color: #6cf526; /* Color del texto del enlace */
    font-size: 16px; /* Tamaño del texto del enlace */
    transition: color 0.3s; /* Agrega una transición suave para el cambio de color */
}

/* Cambia el color cuando el cursor pasa sobre el enlace */
#nav ul li a:hover {
    color: #75430e; /* Nuevo color al pasar el cursor */
}
